
body {
	/* background-image: url("https://images.unsplash.com/photo-1505775561242-727b7fba20f0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"); */
	/* background-image: url("https://images.unsplash.com/photo-1440404653325-ab127d49abc1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80"); */
	background: #003049;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.row {
	display: inline-grid;
	grid-template-columns: minmax(min-content, 300px);
}

#app {
	text-align: center;
  position: relative;
}

.fa-users {
	font-size: 30px;
	color: #F49931;
}

.callout {
  border: solid 1px black;
  padding: 15px;
  margin: 20px;
  background-color: #084C61;
	opacity: 0.9;
  border-radius: 10px;
	color: white;
	text-align: center;
	font-size: 17px;
	font-weight: 200;
	height: 300px;
	overflow: scroll;
}

.club {
	font-weight: 200;
	border-radius: 40px;
	background-size: cover;
	background-image: url("https://images.unsplash.com/photo-1505775561242-727b7fba20f0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
}

.club:hover {
	background-clip: content-box;
	border-color: #F49931;
	font-size: 20px;
}

#name {
	font-weight: bold;
	font-variant: small-caps;
}

.button {
	background-color: green;
	border-radius: 10px;
	padding-right: 30px;
  padding-left: 30px;
}

.button:hover {
	background-color: azure;
	color: black;
}
