.board {
  width: 95%;
}

.members {
  padding-left: 18px;
}

.search {
  width: 100%;
  float: left;
}

li {
  list-style-type: none;
  background-color: white;
}

.movie-tile {
  height: 350px;
}

.poster {
  float: left;
  margin-left: 20px;
}
